/**
 * Creator: Simon R.
 */

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.55em;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 0.2em;
}

::-webkit-scrollbar-corner {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* body {
    background: #f2f5f7;
    font-family: 'Noto Sans', sans-serif;
}

header {
    text-align: center;
    font-size: 2.5em;
    padding: 1.2em 0 0.5em 0;
}

header h1 {
    font-size: 1em;
    font-weight: 200;
    color: #42445a;
}

header h1 .js {
    color: #4285f4;
}

header a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.3em;
    color: white;
    margin-top: 5vh;
    padding: 0.75em 1.25em;
    transition: 0.3s all;
    background: #4285f4;
    border-radius: 50em;
    box-shadow: 0 0.15em 0.5em rgba(66, 133, 244, 0.75);
    font-family: 'Montserrat', sans-serif;
}

header a:hover {
    background: #4291f6;
}

h2 {
    margin-bottom: 0.75em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #42445a;
} */
/* dfghjkjhgfdfghj */
main {
    width: 100%;
    height: 90%;
    max-width: 60em;
    /* margin: 1.5em auto; */
    margin: auto auto;
    margin-top: 1em
}

main .sec .head {
    display: block;
    margin-bottom: 0.4em;
    font-size: 1.2em;
    text-align: center;
}

/* details */

main section.demo .info {
    text-align: center;
    margin: 1em 0 2em 0;
    line-height: 2em;
    color: #42445a;
}

main section.demo .box-wrap.blue {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.4em;
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    max-height: 90vh;
    overflow: auto;
    border: 2px solid rgba(66, 68, 90, 0.075);
    border-radius: 0.15em;
    padding: 1em 0;
}

main section.demo .box-wrap.green,
main section.demo .box-wrap.blue {
    margin-bottom: 3em;
}

main section.demo .box-wrap.red {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.4em;
    align-items: flex-start;
    justify-content: flex-start;
    /* max-height: 25em;
    overflow: auto; */
    padding: 0.5em;
    margin-bottom: 3em;
}

main section.demo .box-wrap.blue > div {
    margin: 0;
    justify-self: center;
}

main .box-wrap::after {
    display: block;
    content: '';
    clear: both;
}
/* hello */
main .boxes div.table {
    /* position: relative; */
    /* height: 10vw;
    width: 10vw; */
    height: 3em;
    width: 90%;
    margin: 0.2em;
    background: rgba(66, 68, 90, 0.075);
    border: 2px solid transparent;
    border-radius: 0.15em;
    transition: all 0.3s;
    cursor: pointer;
}
main .boxes div {
    /* position: relative; */
    /* height: 10vw;
    width: 10vw; */
    height: 3em;
    width: 100%;
    margin: 0.2em;
    background: rgba(127, 222, 235, 0.3);
     /* rgba(127, 222, 235, 0.075) */
    border: 2px solid transparent;
    border-radius: 0.15em;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-size: 0.5em; */
}

main .boxes.green div.selected {
    background: #7febc2;
    border: 2px solid rgba(0, 0, 0, 0.075);
}

main .boxes.blue div.selected {
    background: #7febc2;
    border: 2px solid rgba(0, 0, 0, 0.075);
}

main .boxes.red div.colrow {
    background: #eb8181;
    border: 2px solid rgba(0, 0, 0, 0.075);
}

.selection {
    background: rgba(46, 115, 252, 0.11);
    border-radius: 0.1em;
    border: 2px solid rgba(98, 155, 255, 0.81);
}

main section.demo .info p {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .keyboard-key {
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #4285f4;
    font-size: 0.85em;
    line-height: 1em;
    letter-spacing: -0.05em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    margin: 0 0.5em;
    border: 1px solid #4285f4;
    border-bottom: 2px solid #4285f4;
    border-radius: 2px;
}

.gist {
    margin-top: 2em;
}

.js-file-line-container,
.gist-file,
.gist-data,
.gist-meta {
    background: transparent !important;
    border: none !important;
} */


@media only screen and (max-width: 1000px) {

    #fork-me {
        height: 6em;
        width: 6em;
    }

    header {
        padding: 1em 0 0 0;
    }

    header h1 {
        font-size: 0.8em;
    }

    main section.demo .info {
        font-size: 0.8em;
    }

    main .boxes {
        margin: 0 0.5em;
    }

    main .boxes div {
        height: 90%;
        width: 100%;
        /* 1.75em */
        font-size: 1.3vw;
    }
}

.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 1px;
vertical-align: middle;
border-top: 3px dashed;
border-top: 3px dashed \9;
border-right: 3px solid transparent;
border-left: 3px solid transparent;
}

.dropup, .dropdown {
position: relative;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
border-top: 0;
border-bottom: 3px dashed;
border-bottom: 3px solid \9;
}


.formblock-appear {
  opacity: 0.01;
}

.formblock-appear.formblock-appear-active {
  opacity: 1;
  /* transition: opacity .3s linear; */
  transition: visibility 0.3s linear 0.3s, opacity 0.3s linear
}

/* .alertblock-appear {
  opacity: 0.01;
}
.alertblock-appear.alertblock-appear-active {
  opacity: 1;
  /* transition: opacity .3s linear; */
  /* transition: visibility 0.3s linear 0.3s, opacity 0.3s linear
}  */